page-rent {
  .row-styling {
    margin-top: 10px;
  }

  ion-item.item.item-block.item-ios,
  ion-item.item.item-block.item-md,
  ion-list-header.item.item-ios.list-header.list-header-ios,
  ion-list-header.item.item-md.list-header.list-header-md {
    border-bottom: 0.55px solid #c8c7cc;
    border-top: none;
  }

  .select-property {
    color: gray;
  }
}
