page-tenant-profile {
  .tenant-profile {
    background: url('https://pbs.twimg.com/profile_images/856266617537273856/pfYJlHzP_400x400.jpg') center;
    height: 200px;

    p.title {
        color: white;
        font-size: 1.7rem;
        padding-top: 25%;
        margin-bottom: 0;
    }

    p {
      margin: 0;
      color: white;
    }

    ion-icon.icon.icon-ios.ion-ios-arrow-back {
      color: white;
    }
  }

  .overlay {
    height: 200px;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8));
  }

  .position-bottom {
    position: absolute;
    bottom: 0;
  }
}
